.contactsBlock {
    height: 100vh;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
}


.contactsContainer {
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    border: 1px solid;
}

.form {
    border: 1px solid;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.input {
    height: 10%;
    margin-bottom: 10px;
}

.textarea {
    height: 80%;
}

